[submodule ".registry"]
	path = .registry
	url = https://github.com/rforms/rforms.r-universe.dev
	branch = HEAD
[submodule "StanHeaders"]
	path = StanHeaders
	url = https://github.com/cran/StanHeaders
[submodule "cmdstanr"]
	path = cmdstanr
	url = https://github.com/stan-dev/cmdstanr
[submodule "codebook"]
	path = codebook
	url = https://github.com/rubenarslan/codebook
[submodule "commonmark"]
	path = commonmark
	url = https://github.com/r-lib/commonmark
[submodule "formr"]
	path = formr
	url = https://github.com/rubenarslan/formr
[submodule "keyring"]
	path = keyring
	url = https://github.com/r-lib/keyring
[submodule "psych"]
	path = psych
	url = https://github.com/cran/psych
[submodule "rcamisc"]
	path = rcamisc
	url = https://github.com/rubenarslan/rcamisc
[submodule "renv"]
	path = renv
	url = https://github.com/rstudio/renv
	registered = false
[submodule "rmdpartials"]
	path = rmdpartials
	url = https://github.com/rubenarslan/rmdpartials
[submodule "rstan"]
	path = rstan
	url = https://github.com/cran/rstan
[submodule "sodium"]
	path = sodium
	url = https://github.com/r-lib/sodium
[submodule "tidyverse"]
	path = tidyverse
	url = https://github.com/tidyverse/tidyverse
